TARGET="{{ hostvars[company+'_employee_1'].ansible_host }}"

COMPANY_DOMAIN="{{ companies[company].domain }}"

COMP_USER=apdias
COMP_PWD=Help12345678

EXPLOIT_FILE="{{ exploit_filename_mail }}"
TARGET_SHARE="{{ target_share }}"